@model IEnumerable<TeachersCommunity.Models.TeacherTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOffline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfflineTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOnline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnlineTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DemoClassURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CredentialTbl.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOffline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfflineTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOnline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnlineTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DemoClassURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CredentialTbl.Email)
        </td>
        <td>
            @Html.ActionLink("Activate/Deactivate", "StatusChange", new { id=item.TeacherID })
        </td>
    </tr>
}

</table>
