@model TeachersCommunity.Models.StudyMaterialTbl

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudyMaterialTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterilaLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterilaLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTbl.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTbl.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherTbl.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherTbl.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
